[project]
name = ""
version = "0.0.1"
requires-python = "~=3.11"
dependencies = [
    "langchain==0.0.352",
    "langchain-openai==0.0.5",
    "python-dotenv==1.0.0",
]

[dependency-groups]
dev = []

[tool.uv]
package = false

[[tool.uv.index]]
name = "pypi"
url = "https://pypi.org/simple"
